In [58]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./lib/python3.10/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in ./lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [59]:
import mysql.connector as connector

In [60]:
connection = connector.connect(host= 'localhost', user ='root', password= 'Yasara77', use_pure=True)

In [61]:

print("Connection between MySQL and Python is established.\n")
 
cursor=connection.cursor() 
print("Cursor is created to communicate with the MySQL using Python.\n")

try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database 'little_lemon_db' is created.\n")

Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database 'little_lemon_db' is created.

In [62]:
cursor=connection.cursor()
cursor.execute('SHOW DATABASES') 
data=cursor.fetchall()
for i in data:
    print(i)

('information_schema',)
('little_lemon',)
('little_lemon_db',)
('mysql',)
('performance_schema',)

In [63]:
#Now use the little_lemon_db for use
cursor.execute("USE little_lemon_db") 
print("'little_lemon_db' is now in use ")

'little_lemon_db' is now in use

In [64]:
#query for creating menu_item table
create_menuitem_table=""" 
CREATE TABLE IF NOT EXISTS MenuItems
(ItemID INT AUTO_INCREMENT, Name VARCHAR(200), Type VARCHAR(100), Price INT, PRIMARY KEY (ItemID) 
);
"""
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("The menuitem_table has been created")
#now we need to insert data into it

insert_menuitems="""
INSERT IGNORE INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

The menuitem_table has been created
Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [65]:
#query for creating booking_table


Create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""





# Create booking_table  
cursor.execute(Create_booking_table)
print("The booking_table has been created")
#now we need to insert data into it

insert_bookings="""
INSERT IGNORE INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""


print("Inserting data in booking_table.")
# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

The booking_table has been created
Inserting data in booking_table.

In [66]:
#query for creating orders_table


create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""





# Create orders_table 
cursor.execute(create_orders_table)
print("The orders_table has been created")
#now we need to insert data into it

insert_orders="""
INSERT IGNORE INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);""" 


print("Inserting data in orders_table.")
# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

The orders_table has been created
Inserting data in orders_table.

In [67]:
#query for creating employees_table 


create_employees_table="""
CREATE TABLE IF NOT EXISTS Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""






# Create Employees table
cursor.execute(create_employees_table) 
print("The employees_table has been created")
#now we need to insert data into it


insert_employees="""INSERT IGNORE INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""



print("Inserting data in employees_table.")
# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

The employees_table has been created
Inserting data in employees_table.

In [68]:
#Task 1: Establish a connection

In [69]:
from mysql.connector.pooling import MySQLConnectionPool 
from mysql.connector import Error 


dbconfig={"database":"little_lemon_db", "user":"root", "password":"Yasara77"}

#Create try/Except Block  
try:
	pool= MySQLConnectionPool(pool_name ="Pool_a", pool_size=2 ,**dbconfig) 
	

	print("The connection pool is created with a name: ", pool.pool_name) 
	print("The pool size is:" , pool.pool_size) 

except Error as er: 
	print("Error code:" , er.errno) 
	print("Error message:", er.msg)   

# Get connection 
connection1 = pool.get_connection()
print("Connectin… ")

# Create cursor object to communicate with entire MySQL database
print("Creating a cursor object.")
cursor = connection1.cursor()

connection.close()

The connection pool is created with a name:  Pool_a
The pool size is: 2
Connectin…
Creating a cursor object.

In [70]:
#Task 2: Implement a stored procedure called PeakHours

In [71]:

connection = pool.get_connection()
cursor=connection.cursor()
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
#Create PROCEDURE PeakHours 

query_peak_hours = """
CREATE PROCEDURE PeakHours( ) 
BEGIN 
    SELECT 
    HOUR(BookingSlot) AS Booking_Hour,
    COUNT(HOUR(BookingSlot)) AS n_Bookings
    FROM Bookings
    GROUP BY Booking_Hour
    ORDER BY n_Bookings DESC;

END
"""
#execute PROCEDURE PeakHours
cursor.execute(query_peak_hours) 
# call it 
cursor.callproc("PeakHours") 
#retrieve records in data 
results=next(cursor.stored_results()) 
datasets=results.fetchall( ) 
#get columns names using this for loop. 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]
#print columns 
print(columns)

 
#print everything from the datasets 

for i in datasets:
    print(i)

['Booking_Hour', 'n_Bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [72]:
# Task 3: Implement a stored procedure GuestStatus

In [73]:

cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus ;")

#create a GuestStatus Store Procedure. 

sql_query= """ 
CREATE PROCEDURE GuestStatus() 
BEGIN
    SELECT 
        CONCAT(GuestFirstName, ' ', GuestLastName) AS Guest, 
        Role AS Employee,
        Bookings.BookingID,
        CASE 
            WHEN Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay.'
            WHEN Role = 'Head Chef' THEN 'Ready to serve'
            WHEN Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN Role = 'Head Waiter' THEN 'Order served' 
            ELSE 'Order is Pending' 
        END AS OrderStatuses 
    FROM 
        Bookings 
        LEFT JOIN Employees ON Employees.EmployeeID = Bookings.EmployeeID; 
END;


"""
#execute the GuestStatus procedure 
cursor.execute(sql_query) 
#call it 
cursor.callproc("GuestStatus")
# retrieve everything
results= next(cursor.stored_results()) 
dataset= results.fetchall() 

# get the names of the columns 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description] 

print(columns) 
#print the data 


for i in dataset:
	print(i)

['Guest', 'Employee', 'BookingID', 'OrderStatuses']
('Anna Iversen', 'Manager', 1, 'Ready to pay.')
('Joakim Iversen', 'Manager', 2, 'Ready to pay.')
('Vanessa McCarthy', 'Head Chef', 3, 'Ready to serve')
('Marcos Romero', 'Assistant Chef', 4, 'Preparing Order')
('Hiroki Yamane', 'Assistant Manager', 5, 'Ready to pay.')
('Diana Pinto', 'Head Waiter', 6, 'Order served')

In [83]:
#Exercise 3: Little Lemon analysis and sales report

In [84]:
#TASK 1

In [101]:
# First Import the MySQLConnectionPool class
from mysql.connector.pooling import MySQLConnectionPool 
# Also Import the Error class 
from mysql.connector import Error 
# This is my data base configurations 
dbconfig= { "database" :"little_lemon_db","user":"root","password":"Yasara77"}

#Create a try/except Block 
try: 
	Pool= MySQLConnectionPool(pool_name= "pool_b", pool_size= 2, **dbconfig )
	print("The connection pool name is:", pool.pool_name) 
	print("The connection pool size is:", pool.pool_size)

except Error as er: 
	print("Error code:" , er.errno) 
	print("Error message:", er.msg)

The connection pool name is: Pool_a
The connection pool size is: 2

In [103]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='Yasara77')

# Check if the connection is open and close it if it is
if cnx.is_connected():
    cnx.close()

In [104]:
#Task 2:

In [105]:
# Connect the 1st guest.
connection1 = pool.get_connection()
cursor1=connection1.cursor()
booking1="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(8,'Anees','Java','18:00:00',6);"""
cursor1.execute(booking1)
connection1.commit()
print("""A new booking is added in the "Bookings" table.""")

# Connect the 2nd guest .
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

# connectting the 3rd user... 
import mysql.connector as connector
try:
    connection3 = pool.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection in the pool.")
        
    # Create a connection
    connection=connector.connect(user="root",password="Yasara77")
    pool.add_connection(cnx=connection)
    print("A new connection is added")
        
    connection3 = pool.get_connection()
    print("'connection3' is added in the pool.")
    
# Connect the 3rd guest 
cursor3=connection3.cursor()
booking3="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(booking3)
connection3.commit()
print("A new booking is added in the bookings table.")



from mysql.connector import Error
for i in [connection1,connection2, connection3]:
    try:
        i.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

A new booking is added in the "Bookings" table.
A new booking is added in the "Bookings" table.
Adding new connection in the pool.
A new connection is added
'connection3' is added in the pool.
A new booking is added in the bookings table.
Connection is returned to the pool
Connection is returned to the pool

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

In [106]:
#Task 3:

In [107]:
# First connect to the pool 
connection = pool.get_connection()
print("The object 'connection' is created with a connection link from the pool_a")
# Create a cursor to communicate with the database 
cursor = connection.cursor()
print("The cursor object cursor is created.")

# The name and EmployeeID of the Little Lemon manager. 
cursor.execute("""
SELECT Name, EmployeeID 
FROM Employees
WHERE Role = "Manager" """ ) 
      
      
results = cursor.fetchall() 
columns = cursor.column_names
print("The name and EmployeeID of the Little Lemon manager") 
print(columns)
for i in results:
    print(i)
      
# The name and role of the employee who receives the highest salary. 


cursor.execute("""
SELECT Name, Role 
FROM Employees 
ORDER BY Annual_Salary DESC LIMIT 1;  """ ) 
      
results = cursor.fetchall()
columns = cursor.column_names
print("# The name and role of the employee who receives the highest salary.") 
print(columns)
for result in results:
    print(result)

      
# The number of guests booked between 18:00 and 20:00.
cursor.execute(""" 
SELECT count(BookingID) AS "The bookings between 18:00 and 20:00" 
FROM Bookings  
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'; """) 
      
results = cursor.fetchall()
columns = cursor.column_names
print("The number of guests booked between 18:00 and 20:00.") 
print(columns)
for result in results:
    print(result)

      
      
# The full name and the BookingId of each guest waiting to be seated with the receptionist in sorted order with respect to their BookingSlot. 

   
cursor.execute(""" 
SELECT CONCAT(b.GuestFirstName, " ", b.GuestLastName), b.BookingID AS ID, e.Role

FROM Bookings b 
LEFT JOIN 
Employees e 
ON e.EmployeeID = b.EmployeeID
WHERE e.Role = "Receptionist"
ORDER BY BookingSlot DESC;

""" )

The object 'connection' is created with a connection link from the pool_a
The cursor object cursor is created.
The name and EmployeeID of the Little Lemon manager
('Name', 'EmployeeID')
('Mario Gollini', 1)
# The name and role of the employee who receives the highest salary.
('Name', 'Role')
('Mario Gollini', 'Manager')
The number of guests booked between 18:00 and 20:00.
('The bookings between 18:00 and 20:00',)
(7,)

In [108]:
#Task 4:

In [109]:
# First connect to the pool
connection = pool.get_connection()
print("The object 'connection' is created with a connection link from the pool.")

# Create a cursor to communicate with the database
cursor = connection.cursor()
print("The cursor object 'cursor' is created.")

# The name and EmployeeID of the Little Lemon manager.
cursor.execute("""
SELECT Name, EmployeeID 
FROM Employees
WHERE Role= "Manager" """)

results = cursor.fetchall()
columns = cursor.column_names
print("The name and EmployeeID of the Little Lemon manager:")
print(columns)
for i in results:
    print(i)

# The name and role of the employee who receives the highest salary.
cursor.execute("""
SELECT Name, Role 
FROM Employees 
ORDER BY Annual_Salary DESC LIMIT 1;""")

results = cursor.fetchall()
columns = cursor.column_names
print("# The name and role of the employee who receives the highest salary.")
print(columns)
for result in results:
    print(result)

# The number of guests booked between 18:00 and 20:00.
cursor.execute(""" 
SELECT count(BookingID) AS "The bookings between 18:00 and 20:00" 
FROM Bookings  
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';""")

results = cursor.fetchall()
columns = cursor.column_names
print("The number of guests booked between 18:00 and 20:00.")
print(columns)
for result in results:
    print(result)

# The full name and the BookingId of each guest waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
cursor.execute(""" 
SELECT CONCAT(b.GuestFirstName, " " , b.GuestLastName) AS "Guest Name", b.BookingID AS ID, e.Role AS Employee
FROM Bookings b 
LEFT JOIN Employees e ON e.EmployeeID=b.EmployeeID
WHERE e.Role = "Receptionist"
ORDER BY BookingSlot DESC;""")

print("The following guests are waiting to be seated:")
results = cursor.fetchall()
columns = cursor.column_names
print("Guests to be seated:")
print(columns)
for i in results:
    print(i)

# Close the connection
connection.close()


# Create and execute BasicSalesReport procedure
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")
query_procedure = '''CREATE PROCEDURE BasicSalesReport()
BEGIN 
SELECT SUM(BillAmount) AS TheTotalSales, AVG(BillAmount) AS TheAverageSale, MIN(BillAmount) AS TheMinimumBillPaid, MAX(BillAmount) AS TheMaximumBillPaid 
FROM Orders;
END'''
cursor.execute(query_procedure)
cursor.callproc("BasicSalesReport")
results = next(cursor.stored_results())

The object 'connection' is created with a connection link from the pool.
The cursor object 'cursor' is created.
The name and EmployeeID of the Little Lemon manager:
('Name', 'EmployeeID')
('Mario Gollini', 1)
# The name and role of the employee who receives the highest salary.
('Name', 'Role')
('Mario Gollini', 'Manager')
The number of guests booked between 18:00 and 20:00.
('The bookings between 18:00 and 20:00',)
(7,)
The following guests are waiting to be seated:
Guests to be seated:
('Guest Name', 'ID', 'Employee')
('Jay Kon', 9, 'Receptionist')
('Bald Vin', 8, 'Receptionist')
('Anees Java', 7, 'Receptionist')